<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 sticky-top">
    <div class="container-fluid">
        <a href="{{ url_for('show_home') }}" class="navbar-brand mr-3"></a>
        <div class="logo-image">
            <img src="/static/Japanたの.png" class="img-fluid">
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{{ url_for('show_home') }}" class="nav-item nav-link">Home</a>
                <a href="{{ url_for('show_grammar') }}" class="nav-item nav-link">Grammar</a>
                <a href="{{ url_for('show_about') }}" class="nav-item nav-link">About</a>
            </div>
        </div>
        <div class="navbar-nav ml-auto" style="float: right">
                <a href="{{ url_for('createAccount') }}"class="nav-item nav-link">Register</a>
                <a href="{{ url_for('login') }}" class="nav-item nav-link">Login</a>
            </div>
    </div>
</nav>