
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 sticky-top">
    <div class="container-fluid">
        <a href="{{ url_for('show_home') }}" class="navbar-brand mr-3">JapanTano</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{{ url_for('show_home') }}" class="nav-item nav-link">Home</a>
                <a href="{{ url_for('show_about') }}" class="nav-item nav-link">About</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Grammar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>