{% extends 'layout.html' %}
{% block body %}
        <div class="container" style="background: white">
            <div class="text-center">
                <h1> Welcome </h1>
            </div>
            <p class="text-center">
                This is JapanTano. A website created for the purpose of studying Japanese Grammar. As there are many websites dedicated
                to learning Japanese Kani, Syllabries, and conversation material, I decided to create this website in order to nail those
                pesky Japanese grammar rules.
            </p>
        </div>
    </div>
{% endblock %}